.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    /* justify-content: flex-end; */
    list-style: none;
}

.nav ul li {
    padding: 0 0.5em;
}

.nav a, .nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}

.hidden {
    background-color: aqua;
    height: 0;
}

@media (max-width: 1050px) {

    .header {
        height: 220px !important;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 0.5rem;
        padding: 1rem !important;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.1rem;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}

@media (max-width: 650px) {

    .site-header,
    .title {
        display: block !important;
    }
    .title a {
        font-size: small;
    }
}