@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import 'normalize';

@import 'technology';
@import 'technologies';

/* Under mina övriga imports */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: $background-color;
}

.main {
    flex: 1 0 auto;
    max-width: 70rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1rem;
}

p {
    padding-bottom: 1rem;
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: $background-alternative-color;
    margin-bottom: 2em;
}

.title,
.logo {
    padding: 3em 3em 3em 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $font-color;
    background-color: $background-alternative-color;
    padding: 2em;
    margin-top: 1.5rem;
}

.footer a {
    color: $font-color;
}

.footer .social {
    font-size: 2rem;
}
